@tailwind base;
@tailwind components;
@tailwind utilities;

.opacity-0 {
    opacity: 0;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }


  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  
  .show {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  